.card {
  position: relative;
  width: 300px;
  height: fit-content;
  background: linear-gradient(180deg, var(--neutral-300), transparent);
  border-radius: var(--radius-md) var(--radius-md) 0 0;
  overflow: hidden;
}

.details {
  padding: var(--spacing-sm);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: 0;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 60px;
  height: 30px;
  font-size: small;
  font-weight: 700;
  background-color: var(--neutral-200);
  color: black;
  border-radius: var(--radius-lg);
  align-self: flex-end;
}
