.card {
  position: relative;
  width: 300px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 15px;
  box-shadow: var(--shadow-md);

  hr {
    border: none;
    height: 1px;
    background-color: var(--neutral-300);
    margin-bottom: 20;
  }
}

.logo {
  position: absolute;
  top: 0;
  right: 0;
  width: 80px;
  height: auto;
  border-radius: 10px;
}

.category {
  font-size: var(--font-size-sm);
  color: var(--neutral-500);
  padding: 7px;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 0;
}

.title {
  color: var(--neutral-800);
  font-weight: 700;
}

.caption {
  font-size: var(--font-size-xs);
  color: var(--neutral-500);
  margin-bottom: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 120px;
  height: 40px;
  font-size: var(--font-size-sm);
  font-weight: 700;
  background-color: var(--primary);
  color: white;
  border-radius: 7px;
  align-self: flex-end;
}
