.card {
  position: relative;
  width: 300px;
  height: fit-content;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: var(--shadow-md);
}

.details {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  font-weight: 700;
  color: var(--neutral-800);
}

.publishDetes {
  display: flex;
  gap: 30px;
  > * {
    font-size: var(--font-size-xs);
    color: var(--neutral-800);
  }
}

.image {
  width: 300px;
  height: 168px;
  object-fit: cover;
  object-position: 0;
}

.caption {
  font-size: var(--font-size-xs);
  color: var(--neutral-600);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 60px;
  height: 30px;
  font-size: var(--font-size-xs);
  font-weight: 700;
  background-color: var(--neutral-200);
  color: var(--neutral-900);
  border-radius: 15px;
  align-self: flex-end;
}
