@import "./globals/colors.css";
@import "./globals/shadows.css";
@import "./globals/typography.css";

/* CSS Reset / Normalize */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Layout Defaults */
section > *,
header,
footer > * {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px;
}

/* Typography */
h1 {
  font-size: var(--font-size-2xl);
  font-weight: 700;
}

h2 {
  font-size: var(--font-size-xl);
  font-weight: 600;
}

h3 {
  font-size: var(--font-size-lg);
  font-weight: 500;
}

p {
  font-size: var(--font-size-md);
}

a {
  text-decoration: none;
  color: var(--primary);
}
