.container {
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  color: var(--primary);
  gap: 15px;
}

.header_caption {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.articles {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}
