.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 90px);
  justify-content: space-around;
}

.banner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .zoza {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: auto;
    pointer-events: none;
    z-index: -1;
  }

  .big_mole {
    position: absolute;
    top: 0;
    left: 0;
    height: 300px;
    width: auto;
    pointer-events: none;
    z-index: -1;
  }
}

.image_container {
  position: relative;
  .image {
    width: 400px;
    height: auto;
  }
  .yellow_rec {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: auto;
    z-index: -1;
    pointer-events: none;
  }
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--neutral-800);
  max-width: 600px;

  p {
    font-size: var(--font-size-sm);
    color: var(--neutral-600);
  }
  button {
    width: 300px;
    height: 50px;
    border: none;
    background-color: var(--primary-light);
    color: var(--neutral-50);
    font-size: var(--font-size-md);
    border-radius: 20px;
  }
}

.bonus {
  display: flex;
  justify-content: space-around;
  padding: 15px;
  border: 2px solid var(--neutral-100);
  border-radius: 50px;
  list-style: none;

  li {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      width: 35px;
      height: 35px;
    }
  }
}

.bonusTitle {
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--primary-dark);
  margin-bottom: 3px;
}

.bonusDesc {
  font-size: var(--font-size-xs);
  color: var(--info-dark);
}
